/* var */
:root {
    --main-color: hsl(17, 94%, 12%);
    --txt-color : hsl(0, 0%, 33%);
    --main-bg: hsl(0, 0%, 33%);
    --wrapper-bg: hsl(265, 39%, 95%);
    --tarot-back: hsl(41, 58%, 81%);
    --tarot-back-gradient: hsl(41, 58%, 81%);
    --tarot-back-highlight: hsla(41, 58%, 95%, 0.6);
    --tarot-back-dark: hsl(41, 58%, 31%);
    --tarot-shadow: hsl(0, 0%, 33%);
    --tarot-height: 588px;
    --tarot-width: 312px;
    --tarot-margin: 12px;
    --fonts-stack-base: Arial, Helvetica, sans-serif;
}

/* general */
html, body {
    background: var(--main-bg);
    color: var(--txt-color);
    font-family: var(--fonts-stack-base);
    height: 100%;
    margin:0;
    padding:0;
}

body {
    display: flex;
}

.wrapper {
    background: var(--wrapper-bg);
    border: 1px solid var(--main-color);
    border-radius: 20px;
    display:flex;
    gap: 32px;
    margin:auto;
    max-width:1000px;
    padding:32px;
}

.wrapper > * {
    flex: 1;
}

.presentation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr auto;
}

.tarot {
    background: var(--tarot-back);
    border-radius: 12px;
    box-shadow: 2px 2px 8px var(--tarot-shadow);
    height: var(--tarot-height);
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    width: var(--tarot-width);
}

.tarot:before {
    background: var(--tarot-back-gradient);
    border-radius: 12px;
    bottom:0;
    clip-path: polygon(0% 0%, 0% 100%, calc(var(--tarot-margin) + 4px) 100%, calc(var(--tarot-margin) + 4px) calc(var(--tarot-margin) + 4px), calc(var(--tarot-width) - (var(--tarot-margin) + 4px)) calc(var(--tarot-margin) + 4px), calc(var(--tarot-width) - (var(--tarot-margin) + 4px)) calc(var(--tarot-height) - (var(--tarot-margin) + 4px) ), calc(var(--tarot-margin) + 4px) calc(var(--tarot-height) - (var(--tarot-margin) + 4px) ), calc(var(--tarot-margin) + 4px) 100%, 100% 100%, 100% 0%);
    content:'';
    display: block;
    left:0;
    position: absolute;
    right:0;
    transition: all 0.4s ease;
    top:0;
    z-index:20;
}

.tarot:after {
    background-image: linear-gradient(var(--tarot-back-dark) 0 100%), linear-gradient(to right, var(--tarot-back-highlight) 0 2px, transparent 4px 100%), linear-gradient(to bottom, var(--tarot-back-highlight) 0 2px, transparent 4px 100%), linear-gradient(to bottom, transparent 0%, var(--tarot-back-highlight) 20%, transparent 75%, var(--tarot-back-highlight) 95%, transparent 100%);
    background-position: 13px 13px, 0 2px, 5px 0, 0 0;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: calc(var(--tarot-width) - 26px) calc(var(--tarot-height) - 26px), 100% 100%, 100% 100%, 100% 100%;
    border-radius: 12px;
    bottom:0;
    clip-path: polygon(0% 0%, 0% 100%, calc(var(--tarot-margin) + 4px) 100%, calc(var(--tarot-margin) + 4px) calc(var(--tarot-margin) + 4px), calc(var(--tarot-width) - (var(--tarot-margin) + 4px)) calc(var(--tarot-margin) + 4px), calc(var(--tarot-width) - (var(--tarot-margin) + 4px)) calc(var(--tarot-height) - (var(--tarot-margin) + 4px) ), calc(var(--tarot-margin) + 4px) calc(var(--tarot-height) - (var(--tarot-margin) + 4px) ), calc(var(--tarot-margin) + 4px) 100%, 100% 100%, 100% 0%);
    content:'';
    display: block;
    left:0;
    position: absolute;
    right:0;
    transition: all 0.4s ease;
    top:0;
    z-index:20;
}

.tarot img {
    height: calc( var(--tarot-height) - 24px);
    position: absolute;
    width:calc( var(--tarot-width) - 12px);
    z-index: 15;
}

.tarot .img-sky {
    top:var(--tarot-margin);
}

.tarot .img-bg {
    bottom:var(--tarot-margin);
}

.tarot .img-name {
    bottom: 36px;
    height: auto;
    left:50%;
    max-width:80%;
    transform: translateX(-50%);
    width:250px;
}

.sky-wrapper:before {
    background-image: url('../img/cloud1.png'), url('../img/cloud2.png'), url('../img/cloud3.png');
    background-position: -250% 70%, -300% 75%, -250% 65%;
    background-repeat: no-repeat;
    bottom:0;
    content:'';
    display: block;
    left:0;
    position: absolute;
    right:0;
    top:0;
    z-index: 12;
}

.sky-wrapper:after {
    background-image: url('../img/sun.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    content:'';
    display: block;
    height: 80px;
    position: absolute;
    right:64px;
    transform-origin: 40px 40px;
    top:32px;
    width:80px;
    z-index: 12;
}

.sky-wrapper img {
    z-index:10;
}

@keyframes animatedName {
	from { background-position: -200% 0; }
	to { background-position: 350% 0; }
}

/* frame break */
.frame-break:before {
    --tarot-back-gradient: hsl(149, 45%, 47%);
}

.frame-break:after {
    --tarot-back-dark: hsl(149, 45%, 27%);
}

.frame-break > img {
    z-index: 30;
}

.frame-break .img-bg, .frame-break .img-sky {
    z-index:10;
}

/* 3d effect */
.threed-effect:before {
    --tarot-back-gradient: hsl(214, 100%, 62%);
}

.threed-effect:after {
    --tarot-back-dark: hsl(214, 100%, 32%);
}

.threed-effect .img-flower, .threed-effect .img-leftArm {
    transform: translateZ(2px);
}

.threed-effect .img-body, .threed-effect .img-legs {
    transform: translateZ(4px);
}

.threed-effect .img-head, .threed-effect .img-table {
    transform: translateZ(12px);
}

.threed-effect .img-rightArm{
    transform: translateZ(20px);
}

.threed-effect .img-name {
    transform: translateZ(20px) translateX(-50%);
}

/* animated effect */
.animated-effect:before{
    --tarot-back-gradient: hsl(293, 100%, 62%);
}

.animated-effect:after {
    --tarot-back-dark: hsl(293, 100%, 32%);
}

@keyframes animatedCloud {
	from { background-position: -250% 70%, -300% 72%, -230% 65%; }
	to { background-position: 280% 70%, 180% 72%, 190% 65%; }
}

@keyframes animatedSun {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes animatedLeftArm {
	from { transform: rotate(0deg); }
	to { transform: rotate(0.5deg); }
}

@keyframes animatedLeftArm {
	0% { transform: rotate(0deg) translateZ(2px); }
	50% { transform: rotate(0.5deg) translateZ(2px); }
    100% { transform: rotate(0deg) translateZ(2px); }
}

@keyframes animatedRightArm {
	0% { transform: rotate(0deg) translateZ(20px); }
	50% { transform: rotate(-0.5deg) translateZ(20px); }
    100% { transform: rotate(0deg) translateZ(20px); }
}

@keyframes animatedHead {
	0% { transform: rotate(0deg) translateZ(12px); }
	50% { transform: rotate(-0.5deg) translateZ(12px); }
    100% { transform: rotate(0deg) translateZ(12px); }
}

@keyframes animatedLeftArm2 {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(0.5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes animatedRightArm2 {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes animatedHead2 {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}


.animated-effect .sky-wrapper:before {
    animation: animatedCloud 24s linear infinite;
}

.animated-effect .sky-wrapper:after {
    animation: animatedSun 32s linear infinite;
}

.animated-effect .img-leftArm {
    animation: animatedLeftArm2 5s ease infinite;
}

.animated-effect.threed-effect .img-leftArm {
    animation: animatedLeftArm 5s ease infinite;
}

.animated-effect .img-rightArm {
    animation: animatedRightArm2 3s ease infinite;
}

.animated-effect.threed-effect .img-rightArm {
    animation: animatedRightArm 3s ease infinite;
}

.animated-effect .img-head {
    animation: animatedHead2 4s ease infinite;
}

.animated-effect.threed-effect .img-head {
    animation: animatedHead 4s ease infinite;
}

/* shiny logo */
.shiny-logo:before {
    --tarot-back-gradient: hsl(26, 100%, 50%);
}

.shiny-logo:after {
    --tarot-back-dark: hsl(26, 100%, 30%);
}

.shiny-logo .shiny-wrapper {
    animation: animatedName 22s linear infinite;
    background-image: url('../img/shiny.png');
    background-position: -100% 0;
    background-repeat: no-repeat;
    bottom: 37px;
    height: 37px;
    left:49%;
    max-width:80%;
    opacity: 0.4;
    position: absolute;
    transform: translateX(-50%);
    width:165px;
    z-index:30;
}

.shiny-logo.threed-effect .shiny-wrapper {
    transform: translateX(-50%) translateZ(20px);
}

/* animated frame */
.animated-frame:before {
    --tarot-back-gradient: hsl(332, 100%, 67%);
    content:url('../img/infinityPxl.png');
    filter: url(#ultraEffect);
}

.animated-frame:after {
    --tarot-back-dark: hsl(332, 100%, 57%);
}

/* infinity */
.infinity:before {
    --tarot-back-gradient: hsl(249, 100%, 66%);
    content:url('../img/infinityPxl.png');
    filter: url(#infinityEffect);
}

.infinity:after {
    --tarot-back-dark: hsl(249, 100%, 56%);
}

/* responsive */
@media screen and (max-width:600px) {
    .tarot {
        --tarot-height: 471px;
        --tarot-width: 250px;
    }
    
    .shiny-logo .shiny-wrapper {
        height: 30px;
        width: 134px;
    }
}

@media screen and (max-width:500px) {
    .wrapper {
        flex-direction: column-reverse;
    }
}